pandas==2.2.2
streamlit==1.32.0
requests==2.31.0
python-dotenv==1.0.0
streamlit-js-eval
PyPDF2
python-docx
reportlab
langchain
langchain-community
langchain-ollama
langchain-chroma
chromadb
ollama
pypdf
streamlit_pdf_viewer
openpyxl
streamlit-option-menu
docx2txt
mammoth